@font-face {
	font-family: 'Nanum Square Neo';
	src: url('/NanumSquareNeo-Variable.ttf');
}

@font-face {
	font-family: 'Tenada';
	src: url('/Tenada.ttf');
}

@font-face {
	font-family: 'Concert One';
	src: url('/ConcertOne-Regular.ttf');
}
