html,
body {
	@apply h-full overflow-hidden;
}

pre {
	@apply font-sans;
}

code {
	@apply !bg-transparent !pl-0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	display: none;
}
