.ce-block__content,
.ce-toolbar__content {
}

.ce-paragraph.cdx-block {
}

.ce-block--selected .ce-block__content {
	@apply bg-surface-700;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
	@apply min-[650px]:text-primary-700 min-[650px]:hover:bg-surface-500;
}
